{
    "extends": "@istanbuljs/nyc-config-typescript",
	"include": [
		"src/**/*.ts"
	],
	"exclude": [
		"src/**/types",
		"src/test/**/*",
		"src/**/*.spec.ts",
		"src/**/index.ts",
		"src/migration",
		"src/app/routes/**/*"
	],
	"extension": [
		".ts"
	],
	"all": true
}
